<h1>Rollback Article</h1>
<%= form_for @article, :url => rollback_article_path, :method => :post do |update| %>
  <p>
    <%= collection_select(:update, :update, @article.updates, :content, :username) %>
    <%= update.submit :value => "Rollback" %>
  </p>
<% end %>