<h1>Edit User Info</h1>

<%= render :partial => "form" %>
<br>
<% if current_user.username == params[:id] || current_user.admin %>
  <% if @user.inactive %>
    <form action = "/users/<%= params[:id] %>/activate" method = "post">
      <input type = "submit" value = "Activate User">
    </form>
  <% else %>
    <form action = "/users/<%= params[:id] %>/deactivate" method = "post">
      <input type = "submit" value = "Deactivate User">
    </form>
  <% end %>
<% end %>
