/* Body stuff */

html, body {
  margin: 0;
  height: 100%;
}

/* General font stuff */

@font-face {
	font-family: Signika-Light;
	src: url('Signika-Light.otf');
}

@font-face {
	font-family: Signika-Semibold;
	src: url('Signika-Semibold.otf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Signika-Semibold, sans-serif;
  font-weight: normal;
  color: #0078ad;
}

h1 {
  font-size: 2.75em;
  margin-top: 0;
  border-bottom: solid 3px #8bc2e4;
}

h2 {
  font-size: 2em;
  margin: 0.83em 0;
  border-bottom: solid 2px #8bc2e4;
}

h3 {
  font-size: 2em;
  margin: 0.83em 0;
}

h4 {
  font-size: 1.75em;
  margin: 0.83em 0;
}

h5 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h6 {
  font-size: 1.25em;
  margin: 0.83em 0;
}

p, li, td, th {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

/* Link stuff */

a {
  color: #0078ad;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #e21b23;
  text-decoration: underline;
}

/* Layout stuff */

#container {
  min-height: 100%;
  width: 900px;
  margin: 0 auto;
  background-image: url('layout/OCS_star_400x400.png');
  background-repeat: no-repeat;
  background-position: 75px 200px;
  position: relative;
}

#header {
  background-image: url('layout/header.png');
  background-repeat: none;
  height: 100px;
  text-align: center;
}

#header img {
  position: relative;
  top: 15px;
  padding-right: 10px;
}

#header h1 {
  font-size: 3.5em;
  display: inline;
  border: none;
  font-family: Signika-Light, sans-serif;
}

#header a {
  text-decoration: none;
}

#content {
  background-color: rgba(139, 194, 228, 0.2);
  border-radius: 25px;
  padding: 25px;
  margin: 40px 0;
  margin-bottom: 100px;
}

#top_nav {
  background-color: rgba(255, 255, 255, 0.75);
  height: 25px;
  padding: 25px;
  border-radius: 25px;
}

#top_nav p {
  margin: 0;
}

#left_column, #right_column {
  padding: 25px;
  border-radius: 25px;
  margin: 25px 0 0 0;
}

#left_column {
  background-color: rgba(0, 120, 173, 0.5);
  float: left;
  width: 25%;
}

#left_column h1, #left_column li, #left_column a {
  color: #fff;
}

#right_column {
  background-color: rgba(255, 255, 255, 0.75);
  float: right;
  width: 60%;
}

#footer_above {
  padding-bottom: 25px;
}

#footer {
  background-image: url('layout/footer.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 900px;
  position: absolute;
  bottom: 0;
}

#footer p {
  font-size: 0.83em;
  text-align: center;
  padding-top: 2em;
}

/* Miscellaneous */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
