/* Body stuff */

html, body {
  margin: 0;
  height: 100%;
}

/* General font stuff */

@font-face {
	font-family: Signika-Light;
	src: url('Signika-Light.otf');
}

@font-face {
	font-family: Signika-Semibold;
	src: url('Signika-Semibold.otf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Signika-Semibold, sans-serif;
  font-weight: normal;
  color: #0078ad;
}

h1 {
  font-size: 2.75em;
  border-bottom: solid 3px #8bc2e4;
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-size: 2em;
  margin: 0.83em 0;
  border-bottom: solid 2px #8bc2e4;
}

h3 {
  font-size: 2em;
  margin: 0.83em 0;
}

h4 {
  font-size: 1.75em;
  margin: 0.83em 0;
}

h5 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h6 {
  font-size: 1.25em;
  margin: 0.83em 0;
}

p, li, td, th, label, small {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

/* Link stuff */

a {
  color: #0078ad;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #e21b23;
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #e21b23;
}

/* Layout stuff */

#container {
  min-height: 100%;
  width: 900px;
  margin: 0 auto;
  background-image: url('layout/OCS_star_400x400.png');
  background-repeat: no-repeat;
  background-position: 75px 200px;
  position: relative;
}

#header {
  background-image: url('layout/header.png');
  background-repeat: none;
  height: 100px;
  text-align: center;
}

#header img {
  position: relative;
  top: 15px;
  padding-right: 10px;
}

#header h1 {
  font-size: 3.5em;
  display: inline;
  border: none;
  font-family: Signika-Light, sans-serif;
}

#header a {
  text-decoration: none;
}

#content {
  background-color: rgba(139, 194, 228, 0.2);
  border-radius: 25px;
  padding: 25px;
  margin: 40px 0;
  margin-bottom: 100px;
}

#top_nav {
  background-color: rgba(255, 255, 255, 0.75);
  height: 25px;
  padding: 25px;
  border-radius: 25px;
}

#top_nav p {
  margin: 0;
}

#user_status {
  float:left;
}

#search_nav {
  float:right;
}

#search_nav input {
  position: relative;
  top: -10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  display: inline;
  margin-bottom: 0;
}

#left_column, #right_column {
  padding: 25px;
  border-radius: 25px;
  margin: 25px 0 0 0;
}

#left_column {
  background-color: rgba(0, 120, 173, 0.5);
  float: left;
  width: 25%;
}

.left_column_section {
  background-color: rgba(0, 120, 173, 0.5);
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.left_column_section:last-child {
  margin-bottom: 0;
}

#left_column h2, #left_column li, #left_column a {
  color: #fff;
}

#left_column h2 {
  margin-top: 0;
}

#left_column ul {
  padding-left: 10px;
}

#right_column {
  background-color: rgba(255, 255, 255, 0.75);
  float: right;
  width: 60%;
}

label {
  color: #0078ad;
  display: block;
}

input, select, textarea {
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin-bottom: 1.5em;
}

textarea {
  width: 100%;
}

input[type="submit"] {
  border-radius: 10px;
  background-color: #0078ad;
  color: white;
  font-weight: bold;
  border-top: 2px solid #FFF;
  border-right: 2px solid #8bc2e4;
  border-bottom: 2px solid #8bc2e4;
  border-left: 2px solid #FFF;
  -webkit-box-shadow: inset 5px 5px 12px -2px #8bc2e4;
  box-shadow: inset 5px 5px 20px -2px #8bc2e4;
  text-shadow: 1px 1px 3px #000;
  font-size: 1.25em;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

input[type="submit"]:active, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #e21b23;
  -webkit-box-shadow: inset 5px 5px 12px -2px #ED8C90;
  box-shadow: inset 5px 5px 20px -2px #ED8C90;
  border-right: 2px solid #ED8C90;
  border-bottom: 2px solid #ED8C90;
}

label[for="article_locked"], input[type="checkbox"] {
  display: inline;
}

#footer_above {
  padding-bottom: 25px;
}

#footer {
  background-image: url('layout/footer.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 900px;
  position: absolute;
  bottom: 0;
}

#footer p {
  font-size: 0.83em;
  text-align: center;
  padding-top: 2em;
}

/* Miscellaneous */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
